@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
    height: 100vh;
    background-color: aliceblue;

}

.key {
    display: flex;
    border:1px solid #999;
    background-color: #eee;
    font-size: 50px;
    padding: 20px;
    margin: 50px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}



.topBox{
    font-size: 200px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.mainBox{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.textInfo{
    font-size: 50px;

}